<!DOCTYPE HTML>
<html>
    <head>
        <title>
            @ViewBag.Title
        </title>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/i18n/angular-locale_pt-br.js"></script>
    </head>
    <body>
        
    </body>
</html>
