@using EstudosDDD.UI.Web.Models.Pessoa
@using EstudosDDD.UI.Web.Views.Pessoa
@model IEnumerable<EstudosDDD.UI.Web.Models.Pessoa.IndexModel>

@{
    ViewBag.Title = "Pessoas";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Adicionar", "Adicionar")
</p>
<div id="divPessoa" ng-controller="PessoaController as pessoa" ng-init="Iniciar()">
    <table class="table">
        <tr>
            <th>
                Código
            </th>
            <th>
                Nome
            </th>
            <th>
                Sobrenome
            </th>
            <th>
                Data Nascimento
            </th>
            <th></th>
        </tr>

        
        <tr ng-repeat="item in Items">
            <td>
                {{item.Codigo}}
            </td>
            <td>
                {{item.Nome}}
            </td>
            <td>
                {{item.SobreNome}}
            </td>
            <td>
                {{item.DataNascimento}}
            </td>
            <td>
                @*@Html.ActionLink("Editar", "Editar", new {id = item.Codigo}) |
                    @Html.ActionLink("Detalhes", "Detalhes", new {id = item.Codigo}) |
                    @Html.ActionLink("Remover", "Remover", new {id = item.Codigo})*@
            </td>
        </tr>

    </table>
</div>