<!DOCTYPE HTML>
<html ng-app="EstudosDDDApp">
<head>
    <title>
        @ViewBag.Title
    </title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <section>
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <footer></footer>
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/apps/app.js"></script>
    <script src="~/Scripts/directives/baseDirective.js"></script>
    @RenderSection("scripts");
</body>
</html>